{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <a href="{{ path('event_index') }}">Table View</a>

    <div id='calendar'></div>

    <div id="calendarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title">Event Description</h4>
                </div>
                <div id="modalBody" class="modal-body">
                    <textarea type="text" name="description" id="description"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default eventClickAction" data-action="POST">Update</button>
                    <button type="button" class="btn btn-default eventClickAction" data-action="DELETE">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <input type="hidden" id="eventId">
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var today = $.datepicker.formatDate('yy-mm-dd', new Date());
            var events = JSON.parse('{{ events|raw}}');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth'
                },
                initialDate: today,
                eventDurationEditable: false,
                eventStartEditable: false,
                navLinks: false, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                select: function(arg) {
                    var title = prompt('Event Description:');
                    var date = $.datepicker.formatDate('yy-mm-dd', new Date(arg.start));

                    if (title) {
                        $.ajax({
                            url: "{{ path('calendar_new') }}",
                            data: 'description=' + title + '&date=' + date,
                            type: "POST",
                            success: function () {
                                console.log("Added Successfully");
                            }
                        });

                        calendar.addEvent({
                            title: title,
                            start: arg.start,
                            end: arg.end,
                            allDay: arg.allDay
                        })
                    }
                    calendar.unselect()
                },
                eventClick:  function(arg) {
                    $('#description').val(arg.event.title);
                    $('#eventId').val(arg.event.id);
                    $('#calendarModal').modal();

                    $(".eventClickAction").on('click', function(ev){
                        ev.preventDefault();

                        var action = $(this).attr('data-action');
                        var eventId = $('#eventId').val();

                        var url;
                        var message;

                        switch(action) {
                            case 'DELETE':
                                url = '{{ path("calendar_delete", {'id': 'event_id'}) }}';
                                message = "Deleted";
                                break;
                            case 'POST':
                                url = '{{ path("calendar_edit", {'id': 'event_id'}) }}';
                                message = "Updated";
                                break;
                        }

                        url = url.replace("event_id", eventId);

                        var description = $('#description').val();
                        $.ajax({
                            url: url,
                            type: action,
                            data: 'description=' + description,
                            success: function () {
                                console.log("Successfully " + message);

                                switch(action) {
                                    case 'DELETE':
                                        arg.event.remove();
                                        break;
                                    case 'POST':
                                        arg.el.style.borderColor = 'red';
                                        $(arg.el).html(description);

                                        $('#calendarModal').modal('toggle');
                                        break;
                                }
                            }
                        });
                    });
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: events
            });

            calendar.render();
        });
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
